<html>
	<head>
		<title>Hunchy - Structured Brainstorming</title>
		<%= yield_content :header_extras %>
		<link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/stylesheets/960.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/stylesheets/hunchy.css" type="text/css" media="screen" />
	</head>
	<body>
		<div class="container_12">
			<%= yield %>
		</div>
	</body>
</html>