body {
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: #000;
	background-color: #fefcf8;
}

#container {
	width: 1080px;
	margin: 0 auto;
}

/* 	Colors
___________________________________________________ */

$white: #FFFFFF;
$dark_gray: #2e2d2e;
$gray: #333333;
$light_gray: #4d4c4d;
$purple: #c022a4;
$green: #16ad16;
$red: #ea001a;
$blue: #1c81cf;
$yellow: #eadc00;