<p>Freewriting. Blue sky brainstorming. Turn your filters off. Write keywords, sentences. Let yourself wander.</p>

<form method="post" action="/hunches">
	<textarea class="big" name="hunch"></textarea><br />
	<input type="submit" value="Login">
</form>